* {
     box-sizing: border-box;
 }
    
    body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 250vh;
    padding: 0;
    margin: 0;
    gap: 0px;
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.header p{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .hero {
    display: flex;
    height: 450px;
    width: 100%;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 30px;
}

.hero .contain1 {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 485px;
    align-items: flex-start;
    gap: 0;
    box-sizing: border-box;
}

.contain1 .bigtext {
    font-size: 48px;
    font-weight: 750;
    color: #F9FAF8;
}

.contain1 .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.contain1 button{
    height: 45px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:  #3882F6;
    padding: 8px;
    border: 0px;
    border-radius: 15px;
}

.contain2 {
    display: flex;
    height: 250px;
    width: 500px;
    background-color: rgba(177, 171, 171, 0.589);
    font-size: 18px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

.infopage {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}

.infobox {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.info {
    max-width: 150px;
}

.info .text {
    text-align: center;
    color: #1f2937;
    font-size: 16px;
}

.quote {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote p {
    max-width: 800px;
    font-size: 36px;
    font-weight: lighter;
}

.quote .thor {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    color: #1f2937;
    justify-content: right;
}

.littlead {
    margin: 80px;
    border-radius: 10px;
    display: flex;
    background-color: #3882F6;
    padding: 10px;
    height: 130px;
    width: 850px;
    justify-content: space-around;
    align-items: center;
    line-height: 120%;
}
.adsubtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.littlead button {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 40px ;
    width: 130px;
    background-color: #3882F6;
}

.footer {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    font-size: 18px;
    color: #E5E7EB;
}
